@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_AccountsLayout.cshtml";
}
<form method="post" id="editForm">
<div class="bm_top">
    @Html.Partial("_NavForPerson", null, new ViewDataDictionary { { "FirstText", "修改密码" } })
    <div class="mode_menu_tag2">
        <ul>
            <li><a href="/accounts/edit">我的资料</a></li>
            <li><a href="/accounts/editavatar" title="修改头像">修改头像</a></li>
            <li class="nowtag"><a href="/accounts/editpassword" title="修改密码">修改密码</a></li>
        </ul>
    </div>
    <div class="admin_dongt">
        @Html.ValidationSummary()
        @if (ViewBag.Msg != null)
        {
            <div class="success">@Html.Raw(ViewBag.Msg)</div>
        }
        <form id="editPwdForm" method="post">
        <div class="form">
            <div class="item">
                <span class="label"><b class="ftx04">*</b>原密码：</span>
                <div class="fl">
                    @Html.Password("txtOldPwd","", new { @class = "text required", maxlength = "20" })
                </div>
            </div>
            <div class="item">
                <span class="label"><b class="ftx04">*</b>新密码：</span>
                <div class="fl">
                    @Html.Password("txtNewPwd", "",new { @class = "text required", maxlength = "20" })
                </div>
            </div>
            <div class="item">
                <span class="label"><b class="ftx04">*</b>确认新密码：</span>
                <div class="fl">
                    @Html.Password("txtConfirmNewPwd","", new { @class = "text required", maxlength = "20" })
                </div>
            </div>
            <div class="item">
                <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="left">
                            <input type="submit" value="保存" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        </form>
    </div>
</div>
</form>
@section footer{
    @*<script type="text/javascript">
        $(document).ready(function () {
            $('#editPwdForm').validate({
                rules: {
                    txtOldPwd:{
                        minlength: 5,
                        maxlength: 20
                    },
                    txtNewPwd: {
                        minlength: 5,
                        maxlength: 20
                    },
                    txtConfirmNewPwd: {
                        equalTo: "#txtNewPwd"
                    }
                },
                messages: {
                    txtOldPwd: {
                        required: '密码不能为空',
                        minlength: '密码最少5位'
                    },
                    txtNewPwd: {
                        required: '密码不能为空',
                        minlength: '密码最少5位'
                    },
                    txtConfirmNewPwd: {
                        required: '确认密码不能为空',
                        equalTo: "两次密码不一致"
                    }
                }
            });
        });
    </script>*@
}
