@{
    ViewBag.Title = "产品库";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<html xmlns:wb="http://open.weibo.com/wb">
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>

@section header{
    <style type="text/css">
        .product_list
        {
            width: 640px;
        }
        .product_list_item
        {
            border-bottom: 1px dashed #999999;
            padding: 12px 0;
        }
        .product_list_item h2
        {
            font-size: 14px;
        }
        .product_list_item h2 a
        {
            text-decoration: none;
            color: #003A80;
        }
		 .product_list_item h2 a:hover
        {
            text-decoration:underline;
            color: #003A80;
        }
        img, h2, p, ul, li, h3, h4
        {
            border: 0 none;
            line-height: 20px;
            margin: 0;
            padding: 0;
        }
        .product_list_item p
        {
            color: #444444;
            font-size: 12px;
        }
        .product_list_item img
        {
            border: 1px solid #CCCCCC;
            float: left;
            margin: 0 5px;
            padding: 3px;
        }
    </style>
}
<div class="middle_content">
    <div class="normal_header">
        产品库</div>
    <div class="dept_top_content">
        <span class="dept_tu"><img src="/images/fuhao.jpg" align="absmiddle" /></span>
        <div class="dept_top"><a href="/product" title="全部">全部</a></div>
        @foreach (var item in ViewBag.CatList)
        {
            <span class="dept_tu"><img src="/images/fuhao.jpg" align="absmiddle" /></span>
            <div class="dept_top"><a href="?catId=@(item.Id)" title="@(item.Name)">@(item.Name)</a></div>
        }
    </div>
    <div class="product_list">
        @foreach (var item in ViewBag.List)
        {
            <div class="product_list_item">
                <img src="@(item.ImageUrl)" alt="@(item.Title)"
                    width="105" height="80" />
                <h2>
                    <a href="@(item.Url)" title="@(item.Title)">@(item.Title)</a></h2>
                <p>@(Goodspeed.Common.CharHelper.Truncate(item.Remark, 150))</p>
                <div class="clear">
                </div>
            </div>     
        }
    </div>
    @Html.Raw(PlantEng.Common.PagerBarHelper.Render(ViewBag.List.PageIndex, ViewBag.List.PageSize, ViewBag.List.TotalItemCount, new { @class = "pagerbar" }))
</div>
