@{
    Layout = "/Views/Shared/_EmptyLayout.cshtml";
    ViewBag.Title = "2015年度（第四届） PLANT ENGINEERING China工程师选择奖评选活动";

    //2015年产品奖
    var pItems = PlantEng.Web.WWW.Areas.Special.Data.ProductPrizeData.List(103, 26, 2015);

}
@section header{
    <link href="style/style.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        *
        {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        /*焦点图*/
        .mod18
        {
            width: 980px;
            height: 700px;
            margin: 20px auto;
            position: relative;
            background: #f7f7f7;
        }
        .mod18 .btn
        {
            position: absolute;
            width: 15px;
            height: 70px;
            top: 336px;
            cursor: pointer;
            z-index: 99;
            font-size: 50px;
            font-weight: bold;
        }
        .mod18 .prev
        {
            left: 0;
            background: url(image/prevBtn.png) no-repeat;
        }
        .mod18 #prevTop, .mod18 #nextTop
        {
            top: 70px;
            width: 46px;
            height: 48px;
        }
        .mod18 #prevTop
        {
            width: 37px;
            height: 91px;
            background: url(image/zuo01.gif) 0 0 no-repeat;
            left: -60px;
        }
        .mod18 #prevTop:hover
        {
            background: url(image/zuo02.gif) no-repeat;
        }
        .mod18 #nextTop
        {
            width: 37px;
            height: 91px;
            background: url(image/you01.gif) 0 0 no-repeat;
            left: 1008px;
        }
        .mod18 #nextTop:hover
        {
            background: url(image/you02.gif) no-repeat;
        }
        .mod18 .next
        {
            background: url(image/nextBtn.png) no-repeat;
        }
        .mod18 li
        {
            float: left;
        }
        .mod18 .cf li
        {
            position: relative;
            color: #fff;
            padding: 10px 15px;
        }
        .mod18 .cf a
        {
            display: block;
            width: 946px;
            height: 568px;
            position: absolute;
            color: #fff;
        }
        .mod18 .picBox
        {
            height: 568px;
            position: relative;
            overflow: hidden;
        }
        .mod18 .picBox ul
        {
            height: 568px;
            position: absolute;
        }
        .mod18 .picBox li
        {
            width: 946px;
            height: 568px;
        }
        .mod18 .listBox
        {
            width: 946px;
            height: 110px;
            margin: 0 auto;
            position: relative;
            padding: 6px 0 10px;
            overflow: hidden;
        }
        .mod18 .listBox ul
        {
            height: 110px;
            position: absolute;
        }
        .mod18 .listBox li
        {
            width: 177px;
            height: 110px;
            cursor: pointer;
            position: relative;
        }
        .mod18 .listBox li i
        {
            display: none;
        }
        .mod18 .listBox li a
        {
            display: block;
            width: 124px;
            height: 70px;
        }
        .mod18 .listBox li img
        {
            width: 177px;
            height: 107px;
        }
        .mod18 .listBox .on img
        {
            width: 177px;
            height: 107px;
            border: 3px solid #ff6600;
        }
        .mod18 .listBox .on i
        {
            display: block;
        }
    </style>
    <script type="text/javascript">
        PE.UserInfo = {
            userName: '@(PlantEng.Core.PlantEngContext.Current.UserName)'
        };
    </script>
}
<div style="width: 100%; height: 40px; position: fixed; padding-top: 10px; z-index: 99;">
    <ul id="menu">
        <li data-menuanchor="page1"><a target="_blank" href="index.html">活动首页</a> </li>
        <li data-menuanchor="page2"><a target="_blank" href="index.html#page2">参评产品范围</a>
        </li>
        <li data-menuanchor="page3"><a target="_blank" href="index.html#page3">评选过程</a>
        </li>
        <li data-menuanchor="page4"><a target="_blank" href="index.html#page4">获奖产品利益</a>
        </li>
        <li data-menuanchor="page6"><a target="_blank" style="margin-right: 0;" href="index.html#page6">
            往届回顾</a> </li>
    </ul>
</div>
<!-----------------------------------------------------banner-->
<div class="banner">
    <img src="images/banner.jpg" height="520" width="100%" />
</div>
<div class="jieshao">
    <div class="box_L_three_title">
        投票规则：</div>
    <div class="lay01">
        <strong style="color: #ff0000;">此次评选总共设立8个类别，依据类别的不同，从候选产品中选出3个产品投票。投票截止日期为2015年10月25日。</strong><br />
        1、本次投票为注册用户实名投票，请<a style="color: red;" target="_blank" href="/login?returnurl=/special/productprize2015/voting">登陆</a>后投票，没有注册的读者请先<a href="/register?returnurl=/special/productprize2015/voting"
                                        target="_blank" style="color: red;">免费注册</a>。<br />
        2、同一注册用户对每个类别可至多给3个产品投票。PEC有权对恶意投票取消其投票资格。<br />
        3、最佳产品奖产生：网络投票数每个类别前1名获得最佳产品奖<br />
        <strong>评选标准：</strong><br />
        产品的技术创新性 产品的市场影响力 产品的服务
        <br />
        <strong>用户登录：</strong><br />
        您还没有登录，请<a style="color: red;" target="_blank" href="/login?returnurl=/special/productprize2015/voting">登陆</a>后选择您要投票的产品！
    </div>
</div>
<div class="jieshao" style="height: 1385px;">
    <div class="box_L_three_title">
        产品分类：</div>
    <div class="Public_content" style="width: 870px; float: left">
        @foreach (var catItem in pItems)
        {
            <text>
            <div class="pItem cat_@(catItem.Id)">
                <h2>
                    @(catItem.Name)</h2>
                <div id="cat_2070" class="pItem_Content">
                    <ul>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="font-size: 12px;
                            color: #FF6600; margin-top: 2px;">
                            <tbody>
                                <tr>
                                    <td align="left" style="padding-left: 35px; font-size: 14px; font-weight: bold;">
                                        产品名称
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        @foreach (var articleItem in catItem.Items)
                        {
                            <text>
                            <li>
                                <div class="tvp">
                                    <a class="pItem_Link btnlist" title="@(articleItem.Title)" target="_blank" href="@(articleItem.Url)">@(articleItem.Title)</a>
                                </div>
                                <img class="btnVote" id="btnVote_@(articleItem.Id)" catId="@(catItem.Id)" productId=@(articleItem.Id) alt="投票" src="images/yellow.jpg"></li>
                            </text>
                        }
                    </ul>
                </div>
            </div>
            </text>
        }
    </div>
    <div style="border: 1px solid #ccc; padding: 10px; margin-top: 9px; width: 190px;
        float: left;">
        <div class="changshang">
            <a href="http://www.honeywell.com.cn/" target="_blank">
                <img src="images/honeywell.jpg" /></a><br />
            <a href="http://www.planteng.cn/company/48621.html" target="_blank">
                <img src="images/delixi.jpg" /></a>
        </div>
        <div class="box_R_one_title" style="padding-left: 5px;">
            幸运投票奖</div>
        <p style="padding-left: 5px; font-size: 12px; line-height: 18px;">
            为感谢广大读者对本届工程师选择奖的支持，今年的产品奖幸运投票奖奖品（以实物为准）如下：</p>
        <table cellpadding="8" cellspacing="0" border="0" style="font-size: 12px; line-height: 18px;">
            <tr>
                <td>
                    <img src="images/jiangpin1.jpg" width="190" />
                </td>
            </tr>
            <tr>
                <td height="35">
                    <strong>一等奖：</strong>飞科剃须刀，共2名
                </td>
            </tr>
            <tr>
                <td>
                    <img src="images/jiangpin2.jpg" width="190" />
                </td>
            </tr>
            <tr>
                <td height="35">
                    <strong>二等奖：</strong>4GU盘，共5名
                </td>
            </tr>
            <tr>
                <td>
                    <img src="images/jiangpin3.jpg" width="190" />
                </td>
            </tr>
            <tr>
                <td height="50">
                    <strong>三等奖：</strong>排插或者电源转换器，共10名
                </td>
            </tr>
        </table>
        <div class="box_R_one_title" style="padding-left: 5px;">
            幸运投票奖产生方法</div>
        <p style="font-size: 12px; line-height: 20px;">
            所有幸运投票奖将在投票结束后，经过网站工作人员投票有效性审核后，由抽奖软件随机抽取产生。奖品将根据网站会员注册信息寄出，请您在投票时及时更新您的个人注册信息，以及时收到奖品。</p>
    </div>
</div>
<!-----------------------------------------------------底部-->
<div class="di">
    <p>
        <a target="_blank" href="/about/">关于我们</a> | <a target="_blank" href="/about/sitemap">
            网站地图</a> | <a target="_blank" href="/about/contact">联系我们</a> | <a target="_blank"
                href="/about/friendlink">友情链接</a></p>
    <p>
        All content copyright© 2015 Beijing Control Engineering Information Technology Co.,
        Ltd.
    </p>
</div>
@section footer{
    <script type="text/javascript">
        $(function () {
            $('.btnVote').click(function () {

                //判断用户是否登录
                if (!PE.UserInfo.userName) {
                    alert('请先登录！');
                    window.location.href = '/login?returnurl=/special/productprize2015/voting';
                    return;
                }

                var pId = $(this).attr('productId');
                var cId = $(this).attr('catId');
                //异步请求
                $.ajax({
                    url: 'ajax',
                    data: { action: 'vote', catId: cId, productId: pId },
                    type: 'POST',
                    dataType: 'json',
                    success: function (result) {
                        if (result) {
                            if (result.Status === 0) {
                                alert('请先登录！');
                                window.location.href = '/login?returnurl=/special/productprize2015/voting';
                            }
                            if (result.Status === 1) {
                                alert('投票成功！感谢您的支持。');
                            }
                            if (result.Status === -1) {
                                //已投过票了
                                alert('您已经投过，请不要重复投！');
                            }
                            if (result.Status === -2) {
                                alert('一个分类下最多投三次，请选择其他分类！');
                            }
                        }
                    },
                    error: function () {
                        alert('投票失败，请重试！');
                    }
                });

            });
        });
    </script>
}
