@model PlantEng.Models.Category.ColumnInfo
@{
    ViewBag.Title = "编辑栏目分类";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content">
    <fieldset>
        <legend>编辑栏目分类</legend>
        @Html.ValidationSummary()
        @if(ViewBag.Msg != null){
            <div class="success">@Html.Raw(ViewBag.Msg)</div>
        }
        <form method="post">
        <table>
            <tr>
                <th align="right">名称：</th>
                <td>@Html.TextBoxFor(m=>m.Name)</td>
            </tr>
            <tr>
                <th align="right">别名：</th>
                <td>@Html.TextBoxFor(m=>m.Alias)</td>
            </tr>
            <tr>
                <th align="right">排序：</th>
                <td>@Html.TextBoxFor(m=>m.Sort)</td>
            </tr>
            <tr>
                <th align="right">是否删除：</th>
                <td>@(Html.RadioButtonFor(m=>m.IsDeleted,false))否@(Html.RadioButtonFor(m=>m.IsDeleted,true))是</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="保存" /></td>
            </tr>
        </table>
        </form>
    </fieldset>
</div>

